.container {
    width: 70%;
    height: 40px;
    line-height: 140px;
    display: grid;
    line-height: 40px;
    grid-template-columns: 40px 1fr;
    border-radius: 25px;
    transition: 0.5s;
    position: relative;
}

.icon {
    margin: 5px;
    width: 30px;
    height: 30px;
}

.container:hover {
    background-color: rgb(231, 231, 231);
}

.bg {
    position: absolute;
    background-color: rgba(3, 3, 3, 0.2);
    width: 100vw;
    height: 100vh;
    top: -135px;
    left: -20px;
    z-index: 9;
    animation: open 0.2s ease-in;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}