.tool-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #fff;
  border: none;
  font-size: large;
}

.tool-panel__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  flex-shrink: 0;
  margin: 0 5px 10px;
  background-color: #fff;
  border: none;
  font-size: large;
}

.tool-panel__item_active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
  flex-shrink: 0;
  margin: 0 5px 10px;
  color: red;
  background-color: #fff;
  border: none;
  font-size: large;
}